.Orders {
    padding-bottom: 20px;
}

.Header {
    color: #ffffff;
    font-size: 43px;
}

.NoOrders {
    color: rgb(255, 255, 255);
    padding: 70px;
}

.Link {
    text-decoration: none;
    color: rgb(73, 134, 231);
}