.BuildControls {
    width: 100%;
    background-color: #e7e6e446;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}


/* order button */

.OrderButton {
    background-color: #966909d2;
    outline: none;
    cursor: pointer;
    border: 1px solid #3b3933;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #353432a1;
}

.OrderButton:hover,
.OrderButton:active {
    background-color: #32e919e7;
    border: 1px solid #292724;
    color: #22211f;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* p */

p {
    font-size: 30px;
}