.Header {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    color: #898989;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}