.BuildControls {
    width: 100%;
    background-color: #00000048;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Remove {
    background-color: #1d1b1bbd;
    color: rgb(255, 255, 255);
}

.BuildControl .Remove:hover,
.BuildControl .Remove:active {
    background-color: #000000;
    color: white;
}

.BuildControl .Add {
    background-color: #966909d2;
    color: rgb(255, 255, 255);
}

.BuildControl .Add:hover,
.BuildControl .Add:active {
    background-color: #816930d2;
    color: white;
}