.BuildControls {
    width: 100%;
    background-color: #ffffff48;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}