.BuildControls {
    /* width: 100%; */
    background-color: #ec565648;
    color: #ffffff00;
    /* display: flex;
    flex-flow: column;
    align-items: center;
    padding: auto; */
    /* margin-top: 20px; */
    /* box-shadow: 0 2px 1px #ccc; */
    /* margin: auto; */
    /* padding: 10px 0; */
}


/* .BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Label {
    padding: 10px;
    margin-right: 30px;
    font-weight: bold;
    width: 80px;
}

.Header {
    color: #666565;
} */