.Container {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.SpinnerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 272px;
}

.RetipePassword {
    padding-bottom: 20px;
}

.submit {
    margin-bottom: 15px;
}