.topping {
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 100ms linear forwards;
}

.ham {
    width: 12%;
    height: 7%;
    border-radius: 15%;
    background-image: radial-gradient(#a3577d, #ffc0cb);
    z-index: 5;
}

.ham_1 {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
}

.ham_2 {
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham_3 {
    top: 42%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-20deg);
}

.ham_4 {
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(5deg);
}

.ham_5 {
    top: 68%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(25deg);
}

.ham_6 {
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(150deg);
}

.ham_7 {
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(10deg);
}

.ham_8 {
    top: 25%;
    left: 32%;
    transform: translate(-50%, -50%) rotate(30deg);
}

.ham_9 {
    top: 18%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-70deg);
}

.ham_10 {
    top: 55%;
    left: 82%;
    transform: translate(-50%, -50%) rotate(30deg);
}

.ham_11 {
    top: 82%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-30deg);
}

.ham_12 {
    top: 52%;
    left: 15%;
    transform: translate(-50%, -50%) rotate(-100deg);
}

.ham_13 {
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-40deg);
}

.ham_14 {
    top: 80%;
    left: 38%;
    transform: translate(-50%, -50%) rotate(80deg);
}


/* Media Queries */

@media (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
    }
    .topping-select {
        grid-row: initial;
    }
    .order-toppings li {
        flex-grow: 0;
    }
}

@media (max-width: 500px) {
    .topping-label {
        font-size: 16px;
        padding: 15px 45px 15px 65px;
    }
    .topping-input {
        width: 25px;
        height: 25px;
        right: 15px;
    }
    .topping-image {
        width: 55px;
    }
}


/* Animations */

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideInDown {
    100% {
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}