.PizzaBuilder {
    /* min-height: 100%;
    background-color: rgba(252, 252, 252, 0.274);
    text-align: center;
    padding-top: 100px;
    margin-bottom: 150px; */
    padding: 20px;
    background-color: rgb(150, 150, 219);
    /* paddingTop: "10px",
    backgroundColor: "rgba(252, 252, 252, 0.274)",
    textAlign: "center", */
}

@media (min-width: 1001px) {
    .PizzaBuilder {
        /* padding: 550px; */
        display: flex;
        flex-direction: row;
    }
}