.Menu {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-flow: row;
}

.Menu a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    color: darkslategray;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}

.Menu a:hover,
.Menu a:active,
.Menu a.active {
    color: white;
    text-decoration: none;
}

@media (max-width: 500px) {
    .Menu {
        display: none;
    }
}