.Main {
    min-height: 100%;
    background: #d8af75 url(background-image.jpg);
    background-color: #d8af75;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
}