.pizza {
    position: relative;
    /* min-width: 265px; */
    text-align: center;
    margin-left: 5px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 219, 128, 0);
    background: linear-gradient(transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(90deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(45deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(-45deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), radial-gradient(circle, #fcfc8f, #fdfd81 59.5%, #c79d81 60%, #836551 70%);
}

.pizza::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

@media (max-width: 501px) and (max-height: 401px) {
    .pizza {
        width: 320px;
        /* margin-right: 250px; */
    }
}

@media (min-width: 551px) and (min-height: 451px) {
    .pizza {
        width: 500px;
    }
}