.LogIn {
    padding-left: 50px;
    font-size: 15px;
}

.liEl {
    margin-top: -7px;
    padding-left: 50px;
}

.LogOut {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 15px;
    color: rgb(255, 71, 71);
}