.Element {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: -2px;
    color: rgb(255, 255, 255);
}

.NavLink {
    color: white;
}

.Cart {
    color: darkslategray
}

.Cart:hover {
    color: white;
}

.Cart:active {
    color: white;
}

.Cart:focus {
    background-color: white;
}