/* .LogIn {
    padding-left: 50px;
    font-size: 15px;
}

.liEl {
    margin-top: -7px;
    padding-left: 50px;
}

.LogOut {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 15px;
    color: #2b2b2b
} */

.Element {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: -2px;
    color: rgb(255, 255, 255);
}

.NavLink {
    color: white;
}

.SpinnerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.Spinner {
    margin-top: 312px;
    color: #4caf50;
}