.Logo {
    width: auto;
    height: 75%;
    padding-bottom: 3px;
    padding-left: 8px;
    cursor: pointer;
}

@media (min-width: 500px) {
    .Logo {
        margin-left: -20px;
        margin-top: 0px;
    }
}